<h1>Showing article <%= @article.id %></h2>

<p>
    Title: <%= @article.title %>
</p>
<p>
    Description: <%= @article.description %>
</p>
<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "back to articles", articles_path %>